header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.quiz-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: centerz;
    background-color: gray;
    width: 550px;
    height: 150px;
}
.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.submit-text {
    width: 500px;
    height: 40px;
}
.submit-button {
    margin-left: 5px;
    width: 50px;
    height: 40px;
}