header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.quiz {
    text-align: center;
    font-size: 40px;
}
.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.yes {
    width: 100px;
    height: 100px;
    font-size: 50px;
}
.no {
    margin-left: 10px;
    width: 100px;
    height: 100px;
    font-size: 50px;
}

.hidden{
    display: none;
}